.Consumerinfo-main-container {
  height: auto;
  width: 90%;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;

  .Consumerinfo-sub-container {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .Consumerinfo-image-container {
      height: 45%;
      width: 80%;
      background-color: white;

      img {
        height: 100%;
        width: 100%;
      }
    }
    .Consumerinfo-content-container {
      height: 75%;
      width: 80%;
      background-color: white;

      .Consumerinfo-content-row1 {
        height: 100px;
        width: 90%;
        padding: 0 5%;
        display: flex;
        align-items: center;
        margin: 1px;
        color: white;
        background-color: #366fdc;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
      }

      .Consumerinfo-content-row2 {
        height: 0px;
        width: 95%;
        display: flex;
        align-items: center;
        overflow: hidden;
        background-image: linear-gradient(250deg, white, skyblue);
        border-radius: 10px;
        font-size: 15px;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .Consumerinfo-main-container {
    flex-direction: column;
  }
  .Consumerinfo-sub-container {
    width: unset !important;
    height: unset !important;
  }
  .Consumerinfo-content-row1 {
    font-size: 15px !important;
    height: 80px !important;
  }
  .Consumerinfo-content-row2 {
    font-size: 14px !important;
  }
}
